matplotlib
streamlit
extra-streamlit-components
deep-translator
gtts
azure-cognitiveservices-vision-customvision==3.1.0
azure-common==1.1.28
azure-core==1.30.2
certifi==2020.6.20
importlib-metadata==4.6.4
msrest
numpy
pandas==2.2.2
Pillow
python-dotenv
